<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="fileAppender" fileName="EDIDataSetup.log" append="false">
      <PatternLayout pattern="%highlight{%d{DATE} [%-5p] %C{1}.%M - %m%n}{Bright}"/>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DATE} [%-5p] [%t] %C{1}.%M (%F:%L) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="debug">
      <AppenderRef ref="fileAppender"/>
    </Logger>
    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="fileAppender"/>
    </Root>
  </Loggers>
</Configuration>